.footer1-container1 {
  display: contents;
}
 
.footer1-container2 {
  display: none;
}
 
.footer1-container3 {
  display: contents;
}
 
.footer1-container4 {
  display: none;
}
 
.footer1-container5 {
  display: contents;
}
 
.footer1-container6 {
  display: none;
}
 
.footer1-container7 {
  display: contents;
}
 
.footer1-footer-copyright {
  line-height: 1;
}
