.navigation-container1 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
 
.navigation-container6 {
  display: none;
}
 
.navigation-container7 {
  display: contents;
}
 
.navigation-navigation-logo-ai {
  position: relative;
}
 
.navigation-navigation-toggle-icon1 {
  display: flex;
  position: absolute;
  transition: opacity var(--animation-duration-fast)
        var(--animation-curve-primary),
      transform var(--animation-duration-fast) var(--animation-curve-primary);
  align-items: center;
  justify-content: center;
}
 
.navigation-navigation-toggle-icon2 {
  display: flex;
  opacity: 0;
  position: absolute;
  transform: rotate(-90deg);
  transition: opacity var(--animation-duration-fast)
        var(--animation-curve-primary),
      transform var(--animation-duration-fast) var(--animation-curve-primary);
  align-items: center;
  justify-content: center;
}
 

